@import "func.scss";

* {
  box-sizing: border-box;
}

body {
  background-color: white;  
  overflow: overlay;
}
:root {
  -webkit-tap-highlight-color: transparent;
  text-size-adjust: 100%;
  cursor: default;
  overflow-wrap: break-word;
}
input[type=text],input[type=date],input[type=month] {
  width: 120px;
  height: 26px;
  padding: 4px 8px 3px;
  border-radius: 2px;
  border: solid 1px #c2c5c8;
  background-color: #fff;
  &:disabled {
    border-radius: 2px;
    border: solid 1px #e2e5e9;
    background-color: #f8f7f7;
  }
}
input[type=date],input[type=month],input[type=time] {
  position: relative;
  height: 100%;
  padding-left: 10px;
  border-radius: 2px;
  border: solid 1px #c2c5c8;
  background-color: #fff;
  font-size: 12px;  
  text-align: left;
  color: #152c5b;
}
input[type=date]::-webkit-clear-button,
input[type=date]::-webkit-inner-spin-button,
input[type=month]::-webkit-clear-button, 
input[type=month]::-webkit-inner-spin-button{
  display: none;
}
input[type=date]::-webkit-calendar-picker-indicator,
// input[type=time]::-webkit-calendar-picker-indicator,
input[type=month]::-webkit-calendar-picker-indicator {
  background: transparent;
  z-index: 1;
}

input[type=date]:after,input[type=month]:after {
  position: absolute;
  // top: 50%;
  right: 8px;
  width: 9px;
  height: 9px;

  content: url("../assets/ic_input_cal.png");
  transform: translateY(-50%);
  z-index: 0;
}

input[type="checkbox"] {
  appearance: none;
  position: relative;
  width: 16px;
  height: 16px;
  cursor: pointer;
  outline: none !important;
  border: 1px solid #e2e5e9;
  border-radius: 2px;
  background: #fff;

  &::before {
    content: url("../assets/bt_checkbox_s.png");
    position: absolute;
    top: 50%;
    left: 50%;
    overflow: hidden;
    transform: scale(0) translate(-50%, -50%);
    line-height: 1;
  }
  &:disabled {
    border-color: #e2e5e9;
    background-color: #f8f7f7;
  }
  &:hover {
    background-color: rgba(27, 193, 219, 0.1);
  }

  &:checked {
    border-color: #c2c5c8;
    color: #172d5a;

    &::before {
      border-radius: 2px;
      transform: scale(1) translate(-50%, -43%);
    }
  }

}

select, select.select-box {
  width: 100%;
  height: 100%;
  appearance: none;
  border: none;
  
  cursor: pointer;    
  font-size: 12px;
  letter-spacing: -0.35px;
  text-align: left;
  color: rgba(40, 42, 63, 0.83);

  text-overflow: ellipsis;

  background: url(../assets/ic_input_down.png) no-repeat center right 8px;
  border-radius: 2px;  
  background-color: #fff;
  padding: 3px 8px 2px;  

  option {
    height: 26px;
    font-size: 12px;    
    color: rgba(20, 31, 64, 0.83);
    border: 1px solid #c2c5c8;
  }  
}
.radio-group { 
  display: flex;
  align-items: center;
  position: relative; 
  display: flex;
  align-items: center;

  input[type="radio"]{
      width:1px; 
      height:1px; 
      padding:0; 
      border:0 none; 
      margin:0; 
      position:absolute; 
      left:0; 
      top:0; 
      overflow:hidden;
      clip:rect(0 0 0 0);

      &:checked + label{ 
        white-space: nowrap;
        background:url(../assets/bt_radio_s.svg) no-repeat;  
        background-size: 16px;
        background-position-y: center;
      }
      
      // &:disabled + label{ background:url(../assets/c_ic_radiobox_disabled.svg) no-repeat;  }
      // &:disabled:checked + label{ background:url(../assets/c_ic_radiobox_selected_disabled.svg);  }      
  }
 
  label{    
    white-space: nowrap;
     height: 26px;      
     padding-left:20px; 
     display:flex; 
     align-items: center;
     background:url(../assets/bt_radio_n.svg) no-repeat; 
     background-size: 16px;
     background-position-y: center;
     vertical-align:middle; 
     cursor:pointer;
     &:not(:nth-child(2)) {margin-left: 20px;}
     font-size: 13px;     
     line-height: 1.54;          
     color: #152c5b;
  }
}

.input-group {
  width: 140px;
  height: 26px;
  border-radius: 2px;
  border: solid 1px #c2c5c8;
  background-color: #fff;
}
.input-check-group {
  height: 100%;
  display: flex;
  gap: 10px;
  align-items: center;
  font-size: 13px;
  font-weight: 500;  
  color: #152c5b;
}
.con-box {
  padding: 10px;
  border-radius: 4px;
  box-shadow: 0 3px 15px 0 rgba(42, 97, 255, 0.1);
  background-color: #fff;
}

.setting-grid {
  display: grid;
  grid-template-columns: 112px 1fr 112px 1fr 112px 1fr;
  grid-auto-flow: row;
  gap: 10px;
  .setting-grid-title {  
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 26px;  
    white-space: nowrap;
    text-align: right;
  }
  .setting-grid-content {        
    .input-wrapper{
      display: flex;
      gap: 10px;
    }
  }
}
.btn-navy {
  @include flex_center;
  border-radius: 2px;
  border: solid 1px #172d5a;
  background-color: #172d5a; 
  color: #fff; 
}
.btn-white {
  @include flex_center;
  border-radius: 2px;
  border: solid 1px #9aa6b8;
  background-color: #fff;
  color: #5c7099;
}
.ic-title-nece {
  &::before {
    content: "*";
    // padding-right: 2px;
    color: #e80000;
    font-size: 14px;
    font-weight: 500;
  }
}

@include menu_images(ic_left_1_1);
@include menu_images(ic_left_1_2);
@include menu_images(ic_left_1_3);
@include menu_images(ic_left_1_4);

.ic-bookmark {  
  content: url(../assets/ic_bookmark_off@3x.png);
  width: 18px;
  height: 18px;
  margin-right: 4px;
  &.on {
    content: url(../assets/ic_bookmark_on@3x.png);
  }
}

.ic-tab-close {  
  content: url(../assets/ic_tab_n_close@3x.png);
  width: 8px;
  height: 8px;
  margin-left: 10px;
}

.ic-navi-home {
  content: url(../assets/ic_navi_home@3x.png);
  width: 9px;
  height: 10px;  
}

.ic-navi-arrow {
  content: url(../assets/ic_navi_arrow@3x.png);
  width: 6px;
  height: 9px;  
}
