* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-color: white;
  overflow: overlay;
}

:root {
  -webkit-tap-highlight-color: transparent;
  -webkit-text-size-adjust: 100%;
     -moz-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
          text-size-adjust: 100%;
  cursor: default;
  overflow-wrap: break-word;
}

textarea {
  padding: 4px 8px;
}

input[type=text], input[type=date], input[type=month] {
  width: 120px;
  height: 26px;
  padding: 4px 8px 3px;
  border-radius: 2px;
  border: solid 1px #c2c5c8;
  background-color: #fff;
}

input[type=text]:disabled, input[type=date]:disabled, input[type=month]:disabled {
  border-radius: 2px;
  border: solid 1px #e2e5e9;
  background-color: #f8f7f7;
  color: #c2c5c8;
}

input[type=date], input[type=month], input[type=time] {
  position: relative;
  height: 100%;
  padding-left: 10px;
  border-radius: 2px;
  border: solid 1px #c2c5c8;
  background-color: #fff;
  font-size: 12px;
  text-align: left;
  color: #152c5b;
}

input[type=date]::-webkit-clear-button,
input[type=date]::-webkit-inner-spin-button,
input[type=month]::-webkit-clear-button,
input[type=month]::-webkit-inner-spin-button {
  display: none;
}

input[type=date]::-webkit-calendar-picker-indicator,
input[type=month]::-webkit-calendar-picker-indicator {
  background: transparent;
  z-index: 1;
}

input[type=date]:after, input[type=month]:after {
  position: absolute;
  right: 8px;
  width: 9px;
  height: 9px;
  content: url("../assets/ic_input_cal.png");
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  z-index: 0;
}

input[type="checkbox"] {
  white-space: nowrap;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  position: relative;
  width: 16px;
  height: 16px;
  cursor: pointer;
  outline: none !important;
  border: 1px solid #e2e5e9;
  border-radius: 2px;
  background: #fff;
}

input[type="checkbox"]::before {
  content: url("../assets/bt_checkbox_s.png");
  position: absolute;
  top: 50%;
  left: 50%;
  overflow: hidden;
  -webkit-transform: scale(0) translate(-50%, -50%);
          transform: scale(0) translate(-50%, -50%);
  line-height: 1;
}

input[type="checkbox"]:disabled {
  border-color: #e2e5e9;
  background-color: #f8f7f7;
}

input[type="checkbox"]:hover {
  background-color: rgba(27, 193, 219, 0.1);
}

input[type="checkbox"]:checked {
  border-color: #c2c5c8;
  color: #172d5a;
}

input[type="checkbox"]:checked::before {
  border-radius: 2px;
  -webkit-transform: scale(1) translate(-50%, -43%);
          transform: scale(1) translate(-50%, -43%);
}

select, select.select-box {
  width: 100%;
  height: 100%;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border: none;
  cursor: pointer;
  font-size: 12px;
  letter-spacing: -0.35px;
  text-align: left;
  color: rgba(40, 42, 63, 0.83);
  text-overflow: ellipsis;
  background: url(../assets/ic_input_down.png) no-repeat center right 8px;
  border-radius: 2px;
  background-color: #fff;
  padding: 3px 8px 2px;
}

select option, select.select-box option {
  height: 26px;
  font-size: 12px;
  color: rgba(20, 31, 64, 0.83);
  border: 1px solid #c2c5c8;
}

.radio-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  display: flex;
  align-items: center;
}

.radio-group label {
  white-space: nowrap;
  height: 26px;
  padding-left: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: url(../assets/bt_radio_n.svg) no-repeat;
  background-size: 16px;
  background-position-y: center;
  vertical-align: middle;
  cursor: pointer;
  font-size: 13px;
  line-height: 1.54;
  color: #152c5b;
}

.radio-group label:not(:nth-child(2)) {
  margin-left: 20px;
}

.radio-group input[type="radio"] {
  width: 1px;
  height: 1px;
  padding: 0;
  border: 0 none;
  margin: 0;
  position: absolute;
  left: 0;
  top: 0;
  overflow: hidden;
  clip: rect(0 0 0 0);
}

.radio-group input[type="radio"]:checked + label {
  white-space: nowrap;
  background: url(../assets/bt_radio_s.svg) no-repeat;
  background-size: 16px;
  background-position-y: center;
}

.radio-group input[type="radio"]:disabled + label {
  background: url(../assets/bt_radio_d.svg) no-repeat;
  background-size: 16px;
  background-position-y: center;
}

.input-group {
  width: 260px;
  height: 26px;
  border-radius: 2px;
  border: solid 1px #c2c5c8;
  background-color: #fff;
}

.input-check-group {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 13px;
  font-weight: 500;
  color: #152c5b;
}

.input-check-group .check-box {
  white-space: nowrap;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 4px;
}

.input-time-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 4px;
  height: 100%;
  font-size: 13px;
  font-weight: 500;
  color: #152c5b;
}

.input-time-group input[type="time"] {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  height: 100%;
}

.con-box {
  padding: 10px;
  border-radius: 4px;
  -webkit-box-shadow: 0 3px 15px 0 rgba(42, 97, 255, 0.1);
          box-shadow: 0 3px 15px 0 rgba(42, 97, 255, 0.1);
  background-color: #fff;
}

.edit-btn-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  gap: 8px;
  padding-right: 10px;
  font-size: 12px;
  font-weight: bold;
}

.edit-btn-wrapper button {
  padding: 3px 10px 2px;
  height: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 7px;
}

.setting-grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 110px 1fr 110px 1fr 110px 1fr;
      grid-template-columns: 110px 1fr 110px 1fr 110px 1fr;
  -ms-grid-rows: 26px;
      grid-template-rows: 26px;
  grid-auto-flow: row;
  gap: 10px;
}

.setting-grid .setting-grid-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  height: 26px;
  white-space: nowrap;
  text-align: right;
  font-size: 12px;
  font-weight: bold;
  color: #5c7099;
}

.setting-grid .setting-grid-content {
  font-size: 12px;
  font-weight: 500;
  color: #152c5b;
  width: 260px;
}

.setting-grid .setting-grid-content .text-edit {
  background: #fff7e4;
}

.setting-grid .setting-grid-content .text-edit select {
  background-color: #fff7e4;
}

.setting-grid .setting-grid-content .input-wrapper {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
}

.setting-grid .setting-grid-content .input-wrapper input[type="text"], .setting-grid .setting-grid-content .input-wrapper input[type="date"] {
  width: 100%;
}

.setting-grid .setting-grid-content .input-wrapper.text-edit input {
  background: #fff7e4;
}

.setting-grid .span-3 {
  grid-column: span 3;
  width: calc(100% - ((100% - 650px) / 2));
}

.setting-grid.grid-check-line {
  -ms-grid-columns: 110px 1fr;
      grid-template-columns: 110px 1fr;
  -ms-grid-rows: auto;
      grid-template-rows: auto;
}

.setting-grid.grid-check-line .setting-grid-content {
  width: auto;
}

.setting-grid.grid-check-line .setting-grid-content .input-check-group {
  gap: 0;
}

.setting-grid.grid-check-line .setting-grid-content .input-check-group .check-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 26px;
  width: 125px;
}

.setting-etc {
  margin-top: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.setting-etc:not(:has(.no-padding)) {
  padding-right: 100px;
}

.setting-etc .setting-etc-property {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
}

.setting-etc .setting-etc-property .etc-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  height: 26px;
  width: 110px;
  white-space: nowrap;
  text-align: right;
  font-size: 12px;
  font-weight: bold;
  color: #5c7099;
}

.setting-etc .setting-etc-property .etc-text-box {
  width: 259px;
  height: 82px;
  border-radius: 2px;
  border: solid 1px #c2c5c8;
  background-color: #fff;
  font-size: 12px;
  font-weight: 500;
  color: #152c5b;
}

.add-pic-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
}

.add-pic-wrap .btn-l-pic-add {
  text-align: center;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 4px;
  width: 80px;
  height: 80px;
  border-radius: 2px;
  border: dashed 1px #c2c5c8;
  background-color: #fff;
  font-size: 11px;
  font-weight: 500;
  color: #5c7099;
}

.add-pic-wrap .btn-l-pic-add img {
  content: url(../assets/ic_add@3x.png);
  width: 12px;
  height: 12px;
}

.add-pic-wrap .pic-detail {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 4px;
}

.add-pic-wrap .pic-detail img {
  width: 80px;
  height: 80px;
}

.add-pic-wrap .pic-detail .btn-pic-delete {
  cursor: pointer;
  width: 16px;
  height: 16px;
  position: absolute;
  top: 4px;
  right: 4px;
  background: url(../assets/bt_img_del@3x.png) no-repeat;
  background-size: 16px;
  z-index: 3;
}

.add-pic-wrap .pic-detail .pic-name {
  font-size: 12px;
  font-weight: 500;
  color: #172d5a;
}

.btn-navy {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 2px;
  border: solid 1px #172d5a;
  background-color: #172d5a;
  color: #fff;
}

.btn-white {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 2px;
  border: solid 1px #9aa6b8;
  background-color: #fff;
  color: #5c7099;
}

.ic-title-nece::before {
  content: "*";
  color: #e80000;
  font-size: 14px;
  font-weight: 500;
}

.ic-title-mark {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.ic-title-mark::before {
  display: block;
  content: "";
  width: 3px;
  height: 13px;
  margin: 4px 6px 5px 0;
  background-color: #172d5a;
}

.list-title {
  font-size: 14px;
  font-weight: bold;
  line-height: 2;
  color: #152c5b;
}

.ic_left_1_1 {
  content: url(../assets/ic_left_1_1_n@3x.png);
  width: 14px;
  height: 14px;
  margin-right: 4px;
}

.ic_left_1_1.active {
  content: url(../assets/ic_left_1_1_s@3x.png);
}

.ic_left_1_2 {
  content: url(../assets/ic_left_1_2_n@3x.png);
  width: 14px;
  height: 14px;
  margin-right: 4px;
}

.ic_left_1_2.active {
  content: url(../assets/ic_left_1_2_s@3x.png);
}

.ic_left_1_3 {
  content: url(../assets/ic_left_1_3_n@3x.png);
  width: 14px;
  height: 14px;
  margin-right: 4px;
}

.ic_left_1_3.active {
  content: url(../assets/ic_left_1_3_s@3x.png);
}

.ic_left_1_4 {
  content: url(../assets/ic_left_1_4_n@3x.png);
  width: 14px;
  height: 14px;
  margin-right: 4px;
}

.ic_left_1_4.active {
  content: url(../assets/ic_left_1_4_s@3x.png);
}

.ic-bookmark {
  content: url(../assets/ic_bookmark_off@3x.png);
  width: 18px;
  height: 18px;
  margin-right: 4px;
}

.ic-bookmark.on {
  content: url(../assets/ic_bookmark_on@3x.png);
}

.ic-tab-close {
  content: url(../assets/ic_tab_n_close@3x.png);
  width: 8px;
  height: 8px;
  margin-left: 10px;
}

.ic-navi-home {
  content: url(../assets/ic_navi_home@3x.png);
  width: 9px;
  height: 10px;
}

.ic-navi-arrow {
  content: url(../assets/ic_navi_arrow@3x.png);
  width: 6px;
  height: 9px;
}

.ic-arrow-down {
  content: url(../assets/ic_left_open@3x.png);
  width: 10px;
  height: 10px;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.ic-bt-reset {
  content: url(../assets/ic_bt_reset@3x.png);
  width: 11px;
  height: 11px;
}

.ic-line-plus {
  content: url(../assets/ic_line_plus@3x.png);
  width: 11px;
  height: 11px;
}

.ic-line-minus {
  content: url(../assets/ic_line_minus@3x.png);
  width: 11px;
  height: 11px;
}

.ic-edit {
  content: url(../assets/ic_edit@3x.png);
  width: 11px;
  height: 11px;
}

.ic-register {
  content: url(../assets/ic_register@3x.png);
  width: 11px;
  height: 11px;
}

.ic-bt-save {
  content: url(../assets/ic_bt_save@3x.png);
  width: 11px;
  height: 11px;
}
/*# sourceMappingURL=common.css.map */