@import url("reset.css");
@import url("common.css");
.wrapper {
  min-width: 1500px;
  min-height: 870px;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.wrapper .header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 40px;
  background: #172d5a;
  color: #e2e5e9;
  font-size: 12px;
}

.wrapper .header .header-logo {
  padding: 0 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
  min-width: 200px;
  font-size: 14px;
  color: white;
  font-weight: bold;
}

.wrapper .header .header-center {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.wrapper .header .header-center .main-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.wrapper .header .header-center .main-menu li {
  padding: 0 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.wrapper .header .header-center .main-menu li.active {
  background: #2e4d8c;
  color: white;
  font-weight: bold;
}

.wrapper .header .header-center .header-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 10px;
  padding-right: 10px;
}

.wrapper .header .header-center .header-info .btn-logout {
  width: 48px;
  height: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 9px;
  border-radius: 2px;
  border: solid 1px #e2e5e9;
}

.wrapper .header .header-favorite {
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-width: 50px;
  border-left: 1px solid #e2e5e9;
  font-size: 9px;
  font-weight: bold;
  color: #e2e5e9;
}

.wrapper .main-wrapper {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.wrapper .main-wrapper .btn-sidebar {
  position: absolute;
  width: 17px;
  height: 40px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  border: solid 1px #c3cbd8;
  background-color: #fff;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 10px 10px;
  left: 183px;
  background-image: url(../assets/ic_left_open@3x.png);
  z-index: 3;
}

.wrapper .main-wrapper .btn-sidebar.show {
  background-image: url(../assets/ic_left_hide@3x.png);
}

.wrapper .main-wrapper .sidebar-container {
  position: relative;
  white-space: nowrap;
  overflow: hidden;
  border-right: 1px solid #c3cbd8;
  width: 200px;
}

.wrapper .main-wrapper .sidebar-container .sidebar-menu-wrapper {
  padding: 10px 0;
  overflow-x: overlay;
  scroll-behavior: smooth;
  height: calc(100% - 28px);
  overflow: overlay;
}

.wrapper .main-wrapper .sidebar-container .sidebar-menu-wrapper::-webkit-scrollbar {
  width: 6px;
  display: inline;
}

.wrapper .main-wrapper .sidebar-container .sidebar-menu-wrapper::-webkit-scrollbar-track {
  background: transparent;
}

.wrapper .main-wrapper .sidebar-container .sidebar-menu-wrapper::-webkit-scrollbar-thumb {
  width: 6px;
  border-radius: 6px;
  background: #b6bdc1;
}

.wrapper .main-wrapper .sidebar-container .sidebar-menu-wrapper details summary .ic-submenu-open {
  content: url(../assets/ic_leftmenu_plus@3x.png);
  width: 8px;
  height: 8px;
}

.wrapper .main-wrapper .sidebar-container .sidebar-menu-wrapper details[open] summary .ic-submenu-open {
  content: url(../assets/ic_leftmenu_miuns@3x.png);
  width: 8px;
  height: 8px;
}

.wrapper .main-wrapper .sidebar-container .sidebar-menu-wrapper details summary {
  padding-left: 14px;
  padding-right: 10px;
  margin-right: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 40px;
  font-size: 13px;
  font-weight: bold;
  color: #5c7099;
}

.wrapper .main-wrapper .sidebar-container .sidebar-menu-wrapper details summary .submenu-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 12px;
}

.wrapper .main-wrapper .sidebar-container .sidebar-menu-wrapper details.active summary {
  border-radius: 0 4px 4px 0;
  padding-left: 10px;
  background: #eaf2fd;
  color: #172d5a;
  border-left: 4px solid #172d5a;
}

.wrapper .main-wrapper .sidebar-container .sidebar-menu-wrapper details ul.details-submenu {
  margin: 10px 0;
  padding: 0 16px;
  background: #f5f8f9;
}

.wrapper .main-wrapper .sidebar-container .sidebar-menu-wrapper details ul.details-submenu li {
  border-left: 1px solid #e2e5e9;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 30px;
  font-size: 13px;
  font-weight: 500;
  color: #8591aa;
}

.wrapper .main-wrapper .sidebar-container .sidebar-menu-wrapper details ul.details-submenu li.active {
  font-weight: bold;
  color: #172d5a;
  border-left: 2px solid #172d5a;
}

.wrapper .main-wrapper .sidebar-container .siderbar-help {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 28px;
  font-size: 11px;
  font-weight: 500;
  color: #5c7099;
  border-top: 1px solid #e2e5e9;
}

.wrapper .main-wrapper #content {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.wrapper .main-wrapper #content .content-wrapper {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 10px;
  background: #f4f5f5;
  height: 100%;
}

.wrapper .main-wrapper #content .content-wrapper .tab-container {
  height: 28px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-radius: 4px;
  border: solid 1px #c3cbd8;
  background-color: #fff;
}

.wrapper .main-wrapper #content .content-wrapper .tab-container .tab-arrow-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 5px;
  background: white;
  width: 53px;
}

.wrapper .main-wrapper #content .content-wrapper .tab-container .tab-arrow-wrapper .btn-tab-arrow {
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 22px;
  height: 20px;
  border: solid 1px #e2e5e9;
  background-color: #fff;
}

.wrapper .main-wrapper #content .content-wrapper .tab-container .tab-arrow-wrapper .btn-tab-arrow.on {
  border: solid 1px #9aa6b8;
}

.wrapper .main-wrapper #content .content-wrapper .tab-container .tab-arrow-wrapper .btn-tab-arrow.left {
  border-radius: 4px 0 0 4px;
}

.wrapper .main-wrapper #content .content-wrapper .tab-container .tab-arrow-wrapper .btn-tab-arrow.left img {
  content: url(../assets/ic_tab_arrow_left_d@3x.png);
  width: 5px;
  height: 8px;
}

.wrapper .main-wrapper #content .content-wrapper .tab-container .tab-arrow-wrapper .btn-tab-arrow.left.on img {
  content: url(../assets/ic_tab_arrow_left_n@3x.png);
}

.wrapper .main-wrapper #content .content-wrapper .tab-container .tab-arrow-wrapper .btn-tab-arrow.right {
  border-radius: 0 4px 4px 0;
}

.wrapper .main-wrapper #content .content-wrapper .tab-container .tab-arrow-wrapper .btn-tab-arrow.right img {
  content: url(../assets/ic_tab_arrow_right_d@3x.png);
  width: 5px;
  height: 8px;
}

.wrapper .main-wrapper #content .content-wrapper .tab-container .tab-arrow-wrapper .btn-tab-arrow.right.on img {
  content: url(../assets/ic_tab_arrow_right_n@3x.png);
}

.wrapper .main-wrapper #content .content-wrapper .tab-container ul.tab {
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.wrapper .main-wrapper #content .content-wrapper .tab-container ul.tab li.tab-menu {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  padding: 0 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-right: 1px solid #c3cbd8;
  font-size: 12px;
  font-weight: bold;
  color: #888;
}

.wrapper .main-wrapper #content .content-wrapper .tab-container ul.tab li.tab-menu.on {
  color: white;
  background: #172d5a;
}

.wrapper .main-wrapper #content .content-wrapper .tab-container ul.tab li.tab-menu:first-child {
  border-radius: 4px 0 0 4px;
}

.wrapper .main-wrapper #content .content-wrapper .location {
  padding-top: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 5px;
  font-size: 11px;
  font-weight: 500;
  color: #7d8fb2;
}

.wrapper .main-wrapper #content .content-wrapper .location .nav-home {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 4px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.wrapper .main-wrapper #content .content-wrapper .tab-contents {
  height: calc(100% - 45px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 10px;
  padding: 10px 0;
}

.wrapper .main-wrapper #content .content-wrapper .tab-contents .search-conditions {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
  font-size: 12px;
  font-weight: bold;
  color: #5c7099;
}

.wrapper .main-wrapper #content .content-wrapper .tab-contents .search-conditions.detail {
  margin-bottom: 17px;
  height: 84px;
}

.wrapper .main-wrapper #content .content-wrapper .tab-contents .search-conditions .btn-search-detail {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 4px;
  cursor: pointer;
  position: absolute;
  bottom: -17px;
  width: 64px;
  height: 17px;
  border-radius: 2px;
  -webkit-box-shadow: 0 3px 15px 0 rgba(42, 97, 255, 0.1);
          box-shadow: 0 3px 15px 0 rgba(42, 97, 255, 0.1);
  border: solid 1px #c3cbd8;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  background-color: #fff;
  font-size: 10px;
  font-weight: bold;
  color: #8591aa;
}

.wrapper .main-wrapper #content .content-wrapper .tab-contents .search-conditions .btn-search-detail img {
  content: url(../assets/ic_left_open@3x.png);
  width: 10px;
  height: 10px;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.wrapper .main-wrapper #content .content-wrapper .tab-contents .search-conditions .btn-search-detail.open img {
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
}

.wrapper .main-wrapper #content .content-wrapper .tab-contents .search-conditions .setting-grid {
  overflow: hidden;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.wrapper .main-wrapper #content .content-wrapper .tab-contents .search-conditions .setting-grid .input-wrapper select {
  width: 140px;
}

.wrapper .main-wrapper #content .content-wrapper .tab-contents > .search-list:not(.unflex1) {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.wrapper .main-wrapper #content .content-wrapper .tab-contents .unflex1 {
  min-height: 110px;
}

.wrapper .main-wrapper #content .content-wrapper .tab-contents .search-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 6px;
}

.wrapper .main-wrapper #content .content-wrapper .tab-contents .search-list .list-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 24px;
}

.wrapper .main-wrapper #content .content-wrapper .tab-contents .search-list .list-top .list-title {
  height: 100%;
  font-size: 14px;
  font-weight: bold;
  line-height: 2;
  color: #152c5b;
}

.wrapper .main-wrapper #content .content-wrapper .tab-contents .search-list .list-top .list-btn-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
  font-size: 12px;
  line-height: 1.58;
}

.wrapper .main-wrapper #content .content-wrapper .tab-contents .search-list .list-top .list-btn-group .btn-delete {
  width: 58px;
  height: 24px;
}

.wrapper .main-wrapper #content .content-wrapper .tab-contents .search-list .list-top .list-btn-group .btn-delete img {
  content: url(../assets/ic_bt_delete@3x.png);
  width: 11px;
  height: 11px;
  margin-right: 6px;
}

.wrapper .main-wrapper #content .content-wrapper .tab-contents .search-list .list-top .list-btn-group .btn-save {
  width: 58px;
  height: 24px;
}

.wrapper .main-wrapper #content .content-wrapper .tab-contents .search-list .list-top .list-btn-group .btn-save img {
  content: url(../assets/ic_bt_save@3x.png);
  width: 11px;
  height: 11px;
  margin-right: 6px;
}

.wrapper .main-wrapper #content .content-wrapper .tab-contents .search-list .list-grid-wrapper {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.wrapper .main-wrapper #content .content-wrapper .tab-contents > .edit-btn-wrapper {
  padding-right: 10px;
}

.wrapper .footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 28px;
  opacity: 0.8;
  border-top: 1px solid #9da9bf;
  background-color: #d6dee7;
  font-size: 9px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.44;
  letter-spacing: normal;
  text-align: center;
  color: #8591aa;
}

.DSE001 .list-top, .DSE002 .list-top, .DSE004 .list-top {
  padding-right: 10px;
}

.DSE001 .list-wrapper, .DSE002 .list-wrapper, .DSE004 .list-wrapper {
  position: relative;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
  background: #f4f5f5;
}

.DSE001 .list-wrapper .search-list, .DSE002 .list-wrapper .search-list, .DSE004 .list-wrapper .search-list {
  width: calc((100% - 130px) / 3);
}

.DSE001 .list-wrapper .search-edit, .DSE002 .list-wrapper .search-edit, .DSE004 .list-wrapper .search-edit {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 6px;
}

.DSE001 .list-wrapper .search-edit .list-top, .DSE002 .list-wrapper .search-edit .list-top, .DSE004 .list-wrapper .search-edit .list-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 24px;
}

.DSE001 .list-wrapper .search-edit .setting-grid, .DSE002 .list-wrapper .search-edit .setting-grid, .DSE004 .list-wrapper .search-edit .setting-grid {
  -ms-grid-columns: 110px 1fr 110px 1fr;
      grid-template-columns: 110px 1fr 110px 1fr;
}

.DSE001 .list-wrapper .search-edit .setting-grid.grid-check-line, .DSE002 .list-wrapper .search-edit .setting-grid.grid-check-line, .DSE004 .list-wrapper .search-edit .setting-grid.grid-check-line {
  -ms-grid-columns: 110px 1fr;
      grid-template-columns: 110px 1fr;
}

.DSE001 .edit-btn-wrapper {
  padding-right: 10px;
}

.DSE001 .list-top .edit-btn-wrapper {
  padding-right: 0;
}

.DSE002 .search-edit .setting-grid-content {
  max-width: initial;
}

.DSE009 .edit-btn-wrapper {
  padding-right: 10px;
}

.DSE009 .list-wrapper {
  position: relative;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
  background: #f4f5f5;
}

.DSE009 .list-wrapper .search-list {
  width: calc((100% - 130px) / 3);
}

.DSE009 .list-wrapper .search-info {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.DSE009 .list-wrapper .search-info .info-detail1 {
  height: 78px;
  margin-top: 6px;
  margin-bottom: 10px;
}

.DSE009 .list-wrapper .search-info .info-detail2 {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
}

.DSE009 .list-wrapper .search-info .info-detail2 .info-picture {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 6px;
}

.DSE009 .list-wrapper .search-info .info-detail2 .info-edit {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 6px;
}

.DSE009 .list-wrapper .search-info .info-detail2 .info-edit .setting-grid {
  -ms-grid-columns: 110px 1fr;
      grid-template-columns: 110px 1fr;
}

.DSE010 .btn-end {
  height: 24px;
  padding: 3px 10px 2px;
  border-radius: 2px;
  font-size: 12px;
  font-weight: bold;
}

.DSE010 .list-top {
  padding-right: 10px;
}

.OPE001 .list-wrapper {
  position: relative;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
  background: #f4f5f5;
}

.OPE001 .list-wrapper .search-list {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.OPE002 .list-wrapper {
  position: relative;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
  background: #f4f5f5;
}

.OPE002 .list-wrapper .search-list:first-child {
  width: 450px;
}

.OPE002 .list-wrapper .search-list:last-child {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.OPE004 {
  padding-top: 10px;
  background: #f4f5f5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.OPE004 .info-box {
  width: 400px;
}

.OPE004 .info-box .box-title {
  height: 26px;
  font-size: 14px;
  font-weight: bold;
  line-height: 2;
  color: #152c5b;
  margin-bottom: 6px;
}

.OPE004 .info-box .setting-grid {
  -ms-grid-columns: 90px 1fr;
      grid-template-columns: 90px 1fr;
}

.OPE004 .info-box .setting-grid .input-wrapper input {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.OPE004 .info-box .setting-grid .sms-email-check {
  font-size: 12px;
  font-weight: bold;
  color: #5c7099;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.OPE004 .info-box .setting-grid .sms-email-check .check-box {
  text-align: right;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  gap: 10px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 90px 1fr;
      grid-template-columns: 90px 1fr;
}

.OPE004 .info-box .agree-box {
  padding: 0;
}

.OPE004 .info-box .agree-box .check-box {
  height: 26px;
  padding: 0 10px;
  font-size: 13px;
  font-weight: 500;
  color: #152c5b;
}

.OPE004 .info-box .agree-box .check-box:first-child {
  height: 46px;
  border-bottom: 1px solid #c6c6c6;
  font-weight: bold;
}

.OPE004 .info-box .agree-box .check-box:nth-child(2) {
  margin-top: 10px;
}

.OPE004 .info-box .agree-box .check-box:last-child {
  margin-bottom: 10px;
}

.common13 .alarm-action {
  width: 450px;
  height: 320px;
}

.common13 .alarm-action .alarm-box {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border: 1px solid #c6c6c6;
}

.common13 .alarm-action .alarm-box .box-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.common13 .alarm-action .alarm-box .box-row.line-1 {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 36px;
}

.common13 .alarm-action .alarm-box .box-row:first-child {
  border-bottom: 1px solid #d7d7d7;
}

.common13 .alarm-action .alarm-box .box-row:last-child {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.common13 .alarm-action .alarm-box .box-row:last-child .box-content {
  border-top: 1px solid #d7d7d7;
}

.common13 .alarm-action .alarm-box .box-row .box-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 15px;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 5px 10px;
  font-size: 12px;
  font-weight: 500;
  color: #152c5b;
}

.common13 .alarm-action .alarm-box .box-row .box-content button {
  font-size: 11px;
  font-weight: bold;
  color: #5c7099;
  width: 40px;
  height: 24px;
}

.common13 .alarm-action .alarm-box .box-row .box-content.multi-line {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 0;
}

.common13 .alarm-action .alarm-box .box-row .box-content.multi-line .input-check-group {
  height: 26px;
}

.common13 .alarm-action .alarm-box .box-row .box-content.multi-line .alarm-end-radio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
  height: 26px;
  margin: 10px 0;
}

.common13 .alarm-action .alarm-box .box-row .box-content.multi-line .alarm-end-radio .radio-group button {
  margin-left: 4px;
}

.common13 .alarm-action .alarm-box .box-row .box-content.multi-line .alarm-title {
  font-size: 12px;
  font-weight: bold;
  color: #5c7099;
}

.common13 .alarm-action .alarm-box .box-row .box-content.multi-line .alarm-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 10px;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  width: 100%;
}

.common13 .alarm-action .alarm-box .box-row .box-content.multi-line .alarm-row .text-box {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  height: 100%;
  border-radius: 2px;
  border: solid 1px #c2c5c8;
  background-color: #fff;
}

.common13 .alarm-action .alarm-box .box-row .box-title {
  width: 120px;
  height: 100%;
  padding: 0 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 12px;
  font-weight: bold;
  color: #5c7099;
  background-color: #f4f7f9;
  border-right: 1px solid #d7d7d7;
}

.common13 .edit-btn-wrapper {
  padding-right: 10px;
}

.common14 .flex-row .search-conditions {
  min-height: 82px;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.common14 .flex-row .search-conditions .setting-grid {
  -ms-grid-columns: 110px 1fr 110px 1fr;
      grid-template-columns: 110px 1fr 110px 1fr;
  padding-right: 45px;
}

.common14 .flex-row .search-list {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.common14 .flex-row .edit-btn-wrapper {
  width: 140px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.common14 .list-top {
  padding-right: 10px;
}

.popup-pic {
  width: 920px;
  height: 686px;
  border-radius: 4px;
  -webkit-box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.1);
          box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.1);
  border: solid 1px #f8f7f7;
  background-color: #fff;
}

.popup-pic .modal-top {
  border-bottom: none;
  margin-bottom: 0;
}

.popup-pic img.img-pic {
  width: 900px;
  height: 600px;
}

.popup-search {
  width: 600px;
  height: 506px;
  border-radius: 4px;
  -webkit-box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.1);
          box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.1);
  border: solid 1px #f8f7f7;
  background-color: #f4f5f5;
}

.popup-search .modal-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 10px;
}

.popup-search .modal-body .search-list {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.popup-search .modal-body .search-list .list-grid-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.popup-register {
  width: 400px;
  height: 284px;
  border-radius: 4px;
  -webkit-box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.1);
          box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.1);
  border: solid 1px #f8f7f7;
  background-color: #f4f5f5;
}

.popup-register .modal-body .setting-grid {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -ms-grid-columns: 90px 1fr;
      grid-template-columns: 90px 1fr;
}

.popup-ope001 {
  width: 590px;
  height: 444px;
  border-radius: 4px;
  -webkit-box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.1);
          box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.1);
  border: solid 1px #f8f7f7;
  background-color: #f4f5f5;
}

.popup-ope001 .modal-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
}

.popup-ope001 .modal-body .search-list {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.popup-ope001 .modal-body .search-list .list-top .list-title span {
  font-size: 13px;
  font-weight: 500;
  color: #8591aa;
  margin-left: 8px;
}

.popup-ope001 .modal-body .sel-comment {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: none;
  gap: 10px;
  font-size: 13px;
  font-weight: 500;
  text-align: center;
  color: #8591aa;
}

.popup-ope001 .modal-body .sel-comment.on {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.popup-ope001 .modal-body .sel-comment .sel-arrow {
  width: 48px;
  height: 48px;
  background-color: #dfe5e5;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.popup-ope001 .modal-body .userG-list {
  display: none;
}

.popup-ope001 .modal-body .userG-list.on {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.popup-terms {
  width: 840px;
  height: 600px;
  border-radius: 4px;
  -webkit-box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.1);
          box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.1);
  border: solid 1px #f8f7f7;
  background-color: #fff;
}

.popup-terms .modal-body {
  padding-bottom: 10px;
  overflow-x: overlay;
  scroll-behavior: smooth;
  overflow: overlay;
}

.popup-terms .modal-body::-webkit-scrollbar {
  width: 6px;
  display: inline;
}

.popup-terms .modal-body::-webkit-scrollbar-track {
  background: transparent;
}

.popup-terms .modal-body::-webkit-scrollbar-thumb {
  width: 6px;
  border-radius: 6px;
  background: #b6bdc1;
}

.popup-terms .terms-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 10px;
  color: #152c5b;
  font-size: 14px;
}

.popup-terms .terms-box .terms-title {
  font-weight: bold;
}

.popup-terms .terms-box .terms-sub-box {
  font-size: 13px;
  font-weight: normal;
}

.popup-terms .terms-box .terms-sub-box .terms-sub-title {
  font-weight: bold;
}

.popup-msg {
  padding: 10px;
  width: 300px;
  font-size: 14px;
  font-weight: 500;
  text-align: center;
  color: #152c5b;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 30px;
  border-radius: 4px;
  -webkit-box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.1);
          box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.1);
  border: solid 1px #f8f7f7;
  background-color: #fff;
}

.popup-msg .msg-box {
  margin-top: 30px;
}

.popup-msg.line1 {
  height: 126px;
}

.popup-msg.line2 {
  height: 148px;
}

.popup-msg.title-line1 {
  height: 146px;
  gap: 0;
  padding: 0;
}

.popup-msg.title-line1 .modal-top {
  width: 100%;
}

.popup-msg.title-line1 .msg-box {
  margin: 20px 0;
}

.popup-msg.title-line2 {
  height: 168px;
  gap: 0;
  padding: 0;
}

.popup-msg.title-line2 .modal-top {
  width: 100%;
}

.popup-msg.title-line2 .msg-box {
  margin: 20px 0;
}

.login-wrapper {
  background: #f4f5f5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.login-wrapper .login-wrap {
  padding: 70px 0 20px 0;
  width: 360px;
  height: 460px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.login-wrapper .login-wrap .login-title-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px;
}

.login-wrapper .login-wrap .login-title-wrap .login-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 4px;
  font-size: 22px;
  text-align: center;
  color: #172d5a;
}

.login-wrapper .login-wrap .login-title-wrap .login-title span {
  font-size: 12px;
  line-height: 1.08;
}

.login-wrapper .login-wrap .input-login-wrapper {
  margin-top: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
}

.login-wrapper .login-wrap .input-login-wrapper .ic-id {
  width: 240px;
  background: url(../assets/ic_login_id.svg) no-repeat 5% center;
  padding-left: 30px;
}

.login-wrapper .login-wrap .input-login-wrapper .ic-pw {
  width: 240px;
  background: url(../assets/ic_login_pw.svg) no-repeat 5% center;
  padding-left: 30px;
}

.login-wrapper .login-wrap .input-login-wrapper .btn-login {
  width: 240px;
  height: 35px;
  padding: 8px 104px;
  border-radius: 2px;
  background-color: #172d5a;
  font-size: 12px;
  font-weight: bold;
  line-height: 1.58;
  text-align: center;
  color: #fff;
}

.login-wrapper .login-wrap .input-login-wrapper .join-find {
  height: 17px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 8px;
  font-size: 11px;
  font-weight: 500;
  color: #888;
}

.login-wrapper .login-wrap .input-login-wrapper .join-find .v-line {
  width: 1px;
  height: 12px;
  background-color: #e2e5e9;
}

.login-wrapper .login-wrap .input-login-wrapper .join-find a {
  text-decoration: underline;
}

.login-wrapper .login-wrap .inquiry-number {
  width: 136px;
  height: 18px;
  margin: 50px 52px 6px;
  font-size: 12px;
  font-weight: 500;
  text-align: center;
  color: #5c7099;
}

.login-wrapper .login-wrap .copyright {
  white-space: nowrap;
  height: 12px;
  margin: 74px 32px 0;
  opacity: 0.7;
  font-family: NotoSansCJKkr;
  font-size: 8px;
  font-weight: 500;
  line-height: 1.5;
  text-align: center;
  color: #8591aa;
}
/*# sourceMappingURL=style.css.map */